<div>

    <div class="input-group">
        <input type="text" id="downloadcenter-search-input" class="form-control" placeholder="{{#str}}search:hint,local_downloadcenter{{/str}}" aria-label="{{#str}}search:hint,local_downloadcenter{{/str}}">
        <div class="input-group-append">
            <span class="input-group-text">{{#pix}}i/search{{/pix}}</span>
        </div>
    </div>
    <div class="d-none ml-1 mt-2" id="downloadcenter-search-results">
        <strong>{{#str}}search:results,local_downloadcenter{{/str}}: <span id="downloadcenter-search-results-count"></span></strong>
    </div>
</div>


{{#js}}
    require(['local_downloadcenter/search'], function(search) {
        search.init();
    });
{{/js}}